<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <div class="container">
        <!--        three curly brackets renders the HTML properly -->
        <!-- this body thing renders stuff from home.handlebars....why?? i'm not sure. but it does -->
        {{{body}}}
    </div>
</body>
</html>

